@import "font.css";
/* COLORS */
/* FONTS */
.btn {
  padding: 12px 25px;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font: 400 15px 'AvenirNext', 'Helvetica Neue', 'Arial', 'sans-serif';
  color: #fff;
  border: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.btn:hover {
  box-shadow: 0 5px 22px rgba(0, 0, 0, 0.18);
}
.btn.default {
  background: -webkit-linear-gradient(#642DF4, #B87EF4);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#642DF4, #B87EF4);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#642DF4, #B87EF4);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#642DF4, #B87EF4);
  /* Standard syntax */
}
.btn.facebook {
  background-color: #493DEE;
}
.btn.red {
  background-color: #D73391;
}
.section .description > span h1 {
  font-size: 22px !important;
  margin: 0 0 10px 0;
}
.section .description > span h2 {
  font-size: 18px !important;
  margin: 0 0 10px 0;
}
.section .description > span h3 {
  margin: 0 0 10px 0;
  border-radius: 3px;
  padding: 4px 9px;
  font: 500 11px 'AvenirNext', 'Helvetica Neue', 'Arial', 'sans-serif';
  display: inline-block;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #486684;
}
.section .description > span p {
  margin-bottom: 10px !important;
}
.section .description > span code {
  font: 500 13px 'AvenirNext', 'Helvetica Neue', 'Arial', 'sans-serif';
  color: #333;
  position: relative;
  padding: 0 0 0 15px;
  margin: 0 15px 0 0;
  display: inline-block;
}
.section .description > span code:after {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #2DB870;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 6px;
}
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 105px;
  z-index: 8;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px 0;
  font-size: 14px;
}
.top-bar .content {
  width: 960px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-bar .content > .right .btn {
  margin-left: 10px;
}
.top-bar + .container {
  margin-top: 105px;
}
body {
  padding: 0px;
  margin: 0;
  font-family: 'AvenirNext';
}
body * {
  box-sizing: border-box;
}
h1 {
  font: 700 76px 'AvenirNext', 'Helvetica Neue', 'Arial', 'sans-serif';
  padding: 0;
  margin: 0;
}
h2 {
  font: 700 22px 'AvenirNext', 'Helvetica Neue', 'Arial', 'sans-serif';
  padding: 0;
  margin: 0;
}
h3 {
  font: 400 22px 'AvenirNext', 'Helvetica Neue', 'Arial', 'sans-serif';
  padding: 0;
  margin: 0;
  color: #9b9b9b;
}
a {
  color: #2DB870;
  text-decoration: underline;
  font-weight: 500;
}
a:visited,
a:focus,
a:active {
  color: #0F6338;
}
.clear {
  height: 1px;
  display: inline-block;
  width: 100%;
  clear: both;
}
.v-middle:before {
  content: '';
  height: 100%;
  display: inline-block;
  width: 0;
  vertical-align: middle;
}
.v-middle > * {
  display: inline-block;
  vertical-align: middle;
}
.container {
  background: url(../images/bgs/bg1.png) center top fixed no-repeat;
}
.container.edit-mode {
  padding-bottom: 100px;
}
.container > .content {
  margin: auto;
  width: 960px;
}
.container > .content.blurred {
  filter: blur(7px);
}
.header {
  height: 240px;
  font-size: 0;
  vertical-align: middle;
}
.header .avatar,
.header .name {
  width: 50%;
  height: 100%;
  display: inline-block;
}
.header .avatar .img-border {
  overflow: hidden;
  width: 120px;
  height: 120px;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 120px;
}
.header .avatar .img-border img {
  width: 100%;
}
.header .name {
  text-align: right;
}
.header .name h1 {
  line-height: 71px;
}
.header .name h1 span {
  display: block;
}
.mini-infos {
  padding: 18px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.mini-infos .info {
  width: 24%;
  text-align: center;
  display: inline-block;
  font: 500 16px 'AvenirNext', 'Helvetica Neue', 'Arial', 'sans-serif';
}
.vertical-line {
  margin: 20px 0 0 0;
  display: inline-block;
  width: 100%;
  position: relative;
  padding: 0 0 80px 0;
}
.vertical-line:after {
  display: inline-block;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 48%;
  margin-left: -20px;
  top: -20px;
  bottom: 0;
  content: '';
  z-index: -1;
}
.vertical-line .section {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 20px 0;
}
.vertical-line .section:last-child {
  margin-bottom: 0;
}
.vertical-line .section > h2 {
  position: absolute;
  left: 0;
  top: 20px;
}
.vertical-line .section .description {
  width: 51%;
  float: right;
  clear: both;
  position: relative;
  padding: 0 0 20px 0;
  min-height: 35px;
}
.vertical-line .section .description > * {
  margin: 0 0 10px 0;
}
.vertical-line .section .description > h3 {
  position: absolute;
  width: 230px;
  text-align: right;
  left: -280px;
  top: 0;
}
.vertical-line .section .description > h3:after {
  content: '';
  display: inline-block;
  width: 13px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  right: -20px;
  top: 14px;
}
.vertical-line .section .description .title {
  color: #2DB870;
  font: 500 22px 'AvenirNext', 'Helvetica Neue', 'Arial', 'sans-serif';
  text-decoration: underline;
}
.vertical-line .section .description .alt-title {
  font: 700 18px 'AvenirNext', 'Helvetica Neue', 'Arial', 'sans-serif';
}
.vertical-line .section .description p {
  font: 400 18px 'AvenirNext', 'Helvetica Neue', 'Arial', 'sans-serif';
  color: #000;
  padding: 0;
  margin: 0;
}
.vertical-line .section .description.adding {
  display: none;
}
.vertical-line .section .description.adding.show {
  display: inline-block;
}
.vertical-line .section .description.adding input.h3 {
  position: absolute;
  width: 230px;
  text-align: right;
  left: -280px;
  top: 0;
  border: 0;
  font: 400 22px 'AvenirNext', 'Helvetica Neue', 'Arial', 'sans-serif';
  padding: 0;
  margin: 0;
  color: #9b9b9b;
  background: transparent;
  outline: none;
}
.vertical-line .section .description.adding textarea {
  padding: 0;
  margin: 0;
  background: transparent;
  outline: none;
  border: none;
  font: 400 20px 'AvenirNext', 'Helvetica Neue', 'Arial', 'sans-serif';
  width: 100%;
  min-height: 150px;
}
.add-section,
.add-description {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 49%;
  z-index: 5;
  margin-left: -43px;
  cursor: pointer;
}
.add-section button,
.add-description button {
  width: 27px;
  height: 27px;
  font: 700 20px 'AvenirNext', 'Helvetica Neue', 'Arial', 'sans-serif';
  color: rgba(0, 0, 0, 0.4);
  border-radius: 100px;
  background-color: #2CB870;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.add-description {
  bottom: 0;
  margin-left: -41px;
}
.add-description button {
  font: 500 15px 'AvenirNext', 'Helvetica Neue', 'Arial', 'sans-serif';
  width: 22px;
  height: 22px;
  background-color: #eee;
  border: 1px solid #aaa;
}
.modal {
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  align-items: center;
  justify-content: center;
}
.modal .close {
  position: fixed;
  top: 20px;
  right: 20px;
}
.modal input[type=text],
.modal input[type=email],
.modal input[type=password] {
  position: relative;
  z-index: 2;
  padding: 16px 28px 16px 50px;
  min-width: 300px;
  border-radius: 6px;
  border: 1px solid #2DB870;
  font-size: 18px;
  color: #333;
}
.modal span {
  position: relative;
  z-index: 3;
  font-size: 16px;
  margin-right: -35px;
  color: #d0d0d0;
  text-align: center;
}
.modal span small {
  display: block;
  font-size: 8px;
  font-weight: 700;
  letter-spacing: 1px;
}
